extends layout

block content
	nav.navbar.navbar-default
		.container-fluid
			.navbar-header
				a.navbar-brand: href="#"

	row
		.jumbotron
			h1.title Money Ball

	row 
		.col-md-4 
			h1 Money Management
			i.fa.fa-money.fa-5x
		.col-md-4
			h1 Statistics
			i.fa.fa-pie-chart.fa-5x
		.col-md-4
			h1 Compare and Contrast
			i.fa.fa-star-half-o.fa-5x
	row 
		.col-md-12
			h1 Rules of the game

					